# PostgresSQl Configuration
DSN="host=postgres user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} port=5432 sslmode=disable"
POSTGRES_USER='your_user_postgres'
POSTGRES_PASSWORD='your_password_postgres'
POSTGRES_DB='your_name_DB'
POSTGRES_EXTERNAl_PORT=5432

# Redis Configuration
REDIS_PASSWORD='your_redis_password'
REDIS_ADDRESS='redis:6379'
REDIS_EXTERNAL_PORT='6379'

# JWT Configuration
JWT_SIGNATURE='your_signature'

# API & SMTP Configuration
API_EXTERNAL_PORT='8080'
API_EMAIL='example@gmail.com'
API_PASSWORD='your_password_API'
SMTP_ADDRESS_HOST='smtp.gmail.com:587'
SMTP_ADDRESS='smtp.gmail.com'